.content {
	width: 100%;
	position: relative;
}
.content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
}
.section {
	background: white;
	width: 20%;
	flex-grow: 1;
	align-self: auto;
	padding: 10px;
}
.section .pagename {
	font-weight: bold;
	font-size: 0.9em;
	text-align: center;
	padding-bottom: 10px;
}
.section.selected .pagename {
	color: #74D8EC;
}
.section:not(.selected):nth-child(2n + 1) {
	border: 2px solid #DDD;
	-webkit-transition : border 200ms ease-in;
	-moz-transition : border 200ms ease-in;
	-o-transition : border 200ms ease-in;
}
.section.selected:nth-child(2n + 1) {
	border: 2px solid #83D8E9;
	-webkit-transition : border 200ms ease-out;
	-moz-transition : border 200ms ease-out;
	-o-transition : border 200ms ease-out;
}
.category {
	position: relative;
	height: 50px;
}
@media (min-width: 769px) {
	.category {
		height: 100px;
	}
}
.category.expanded {
	background: white;
	position: absolute;
	width: auto;
	height: auto;
	top: 190px;
	left: 0;
	right: 0;
}
.category.active {
	z-index: 10;
}
.section:nth-child(2n + 1) .category:not(.active):after {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0);
}
