.content {
	width: 100%;
	position: relative;
}
.content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
}
.section {
	background: white;
	width: 20%;
	flex-grow: 1;
	align-self: auto;
	padding: 10px;
}
.section.selected:nth-child(2n + 1) {
	border: 2px solid #FFF;
}
.section:not(.selected):nth-child(2n + 1) {
	border: 2px solid #83D8E9;
}
.category {
	position: relative;
	height: 100px;
}
.category.normal {
	background: white;
	position: absolute;
	width: auto;
	height: auto;
	top: 160px;
	left: 0;
	right: 0;
}
.category.above {
	z-index: 10;
}
