* {
	box-sizing: border-box;
}
body {
	line-height: 1.4em;
	color: #333;
	overflow-y: scroll;
	background: #F5F5F5;
}
.ribon img {
  max-width: 30%;	
}
.container {
	max-width: 740px;
	margin: 0 auto;
	padding: 0 10px;
}
h1 {
	font-size: 2em;
	margin: 0;
	padding: 0.4em 0 0.8em;
	color: #707070;
	font-family: 'Iceland', cursive;
}
#logo {
	display: inline-block;
	width: 1.6em;
	height: 1.6em;
	background: url('../images/logo.svg') center center no-repeat;
	background-size: contain;
	margin: 0 0.3em -0.55em 0;
}
h2 {
	margin-top: 1.5em;
	padding-top: 0px;
}
pre, code {
	font-family: "Lucida Console", "Monaco";
	font-size: 0.9em;
}
pre {
	display: block;
	background: #F6F6F6;
	padding: 10px;
	border-left: 2px solid #333;
	font-size: 0.75em;
	margin: 1.5em 0;
}
@media (min-width: 769px) {
	.container {
		padding: 0 30px;
	}
	h1 {
		font-size: 3em;
		padding: 1em 0 1.2em;
	}
	pre {
		font-size: 0.9em;
		padding: 10px 20px;
	}
}
