* {
	box-sizing: border-box;
}
body {
	background: #FF7F7F;
}
#root {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-content: space-between;
	flex-wrap: wrap;
}
.baby {
	width: 20%;
	height: 10%;
	line-height: 140%;
}
#ball .content {
	width: 3vh;
	height: 3vh;
	border-radius: 100%;
	background: green;
	margin: 0 auto;
}
.baby:nth-child(0) {
}
.baby:nth-child(1) {
	order: 0;
}
.baby:nth-child(2) {
	order: 1;
}
.baby:nth-child(3) {
	order: 2;
}
.baby:nth-child(4) {
	order: 3;
}
.baby:nth-child(5) {
	order: 4;
}
.baby:nth-child(6) {
	order: 5;
}
.baby:nth-child(7) {
	order: 6;
}
.baby:nth-child(8) {
	order: 7;
}
.baby:nth-child(9) {
	order: 8;
}
.baby:nth-child(10) {
	order: 9;
}
.baby.pos_0 {
	order: 0;
}
.baby.pos_1 {
	order: 1;
}
.baby.pos_2 {
	order: 2;
}
.baby.pos_3 {
	order: 3;
}
.baby.pos_4 {
	order: 4;
}
.baby.pos_5 {
	order: 5;
}
.baby.pos_6 {
	order: 6;
}
.baby.pos_7 {
	order: 7;
}
.baby.pos_8 {
	order: 8;
}
.baby.pos_9 {
	order: 9;
}
.baby.pos_10 {
	order: 10;
}
