.content {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: stretch;
}
.section {
	background: white;
	align-self: auto;
	padding: 10px;
	box-shadow: 0 0px 1px 0 rgba(0,0,0,0.25);
	cursor: pointer;
	width: 48%;
	margin: 5px 0;
}

.section .pagename {
	font-weight: bold;
	font-size: 0.9em;
	text-align: center;
	padding: 5px 0;
	white-space: nowrap;
}
.section {
	-webkit-transition : all 200ms ease-in;
	-moz-transition : all 200ms ease-in;
	-o-transition : all 200ms ease-in;
}
.section.selected {
	box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25);
	-webkit-transition : all 200ms ease-out;
	-moz-transition : all 200ms ease-out;
	-o-transition : all 200ms ease-out;
}

.section.selected .pagename {
	color: #55D3E3
}
@media (min-width: 769px) {
	.section {
		width: 20%;
		margin: 0;
	}
	.section .pagename {
		padding: 0 0 10px 0;
	}
}

